*{
	margin: 0;
	padding: 0;
}
body{
	background: radial-gradient(200% 100% at bottom center, #f7f7b6, #e96f92, #75517d, #1b2947);
	background: radial-gradient(220% 105% at top center, #1b2947 10%, #75517d 40%, #e96f92 65%, #f7f7b6);
	background-attachment: fixed;
	overflow: hidden;
}
img{
	width: 300px;
	height: 300px;
}
.main{
	width: 906px;
	height: 320px;
	margin: 100px 160px;
	overflow: hidden;
}
li{
	list-style: none;
	width: 100px;
	float: left;
	border-left: 1px solid #000000;
	position: relative;
	transition: all 1s;
}
.flag{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #ffffff;
	background: rgba(0,0,0,0.5);
} 
.main:hover li{
	width: 75px;
}
.main li:hover{
	width: 300px;
}