body {
	/* background: radial-gradient(200% 100% at bottom center, #f7f7b6, #e96f93, #1b2947); */
	/* background: radial-gradient(220% 105% at top center, #1b2947 10%, #2c677d  40%, #04ccda 65%, #a7f3f7); */
	background: radial-gradient(200% 100% at bottom center, #f7f7b6, #e96f92, #75517d, #1b2947);
	background: radial-gradient(220% 105% at top center, #1b2947 10%, #75517d 40%, #e96f92 65%, #f7f7b6);
	background-attachment: fixed;
	overflow: hidden;
}
h1{
	text-align: center;
	font-size: 70px;
	color: #FFFFFF;
}